
####################################
#                                  #
#          Netbird Server          #
#                                  #
####################################

BIND_MOUNTS="${HOME}/.docker.bind-mounts/netbird-server"

CONFIG_FILE="${BIND_MOUNTS}/config.yaml"
